.table {
    @apply border min-w-full;

    & thead {
        @apply border-b text-tDark text-sm;  

        & tr {
            @apply text-left;

            & th {
                @apply px-4 py-2;
            }
        }
    }

    & tbody {
        @apply text-sm;

        & tr {
            @apply border-b;

            & td {
                @apply px-4 py-1;

                &:first-child{
                    @apply text-center;
                }
            }
        }
    }
}

.Load_Records{
    height: 92vh;
    overflow: auto;
    position: relative;

    & .table{

        thead{
            @apply sticky top-0 z-10;
            background-color: rgb(201, 218, 248);
        }

        tr{

            @apply border-b border-black;
    
            th,
            td{
                @apply text-center font-semibold border-r border-black;
    
                &:first-child {
                    position:sticky;
                    left:0;
                    z-index:1;
                    background-color: rgb(0, 255, 0);
                }


                &:last-child {
                    background-color: rgb(0,255,255);
                }

            }

            th{
                padding: 2px 30px;
            }
    
            td{
                @apply p-0;


    
                & .view,
                & .edit{
                    width: 140px;
    
                    &.active{
                        display: inline-block;
                    }
                }
        
                & .edit{
                    display: none;
                    padding: 8px 0;
                }
        
                & .view{
                    display: none;
                    text-align: center;
                    @apply py-2 px-0;
                }
        
                & .edit{
                    &:focus{
                        outline-color: red;
                    }
                }
            }

        }

    }
}
