.table {
    @apply border min-w-full;

    & thead {
        @apply border-b text-tDark text-sm;  

        & tr {
            @apply text-left;

            & th {
                @apply px-4 py-2;
            }
        }
    }

    & tbody {
        @apply text-sm;

        & tr {
            @apply border-b;

            & td {
                @apply px-4 py-1;

                &:first-child{
                    @apply text-center;
                }
            }
        }
    }
}

.Load_Records{
    height: 92vh;

    .cell{
        width: 160px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .hours{
        & p{
            padding: 8px;
            background: green; 
            width: 121px;
            border: 1px solid rgb(229, 231, 235);
            text-align: center;
            font-weight: 600;
            color: #d3d1d1;
            font-size: 14px;
        }
    }

    & .table{
        & thead{
            background-color: blue;

            & tr{
                & th{
                    padding: 9px 0;
                    border: 1px solid rgb(229, 231, 235); 
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
        & tbody{
            & tr{
                & td {
                    @apply p-0;

                    & .view,
                    & .edit{
                        padding: 9px 0;
                        border-right: 1px solid rgb(229, 231, 235);
                        width: 160px;
                        height: 38px;

                        &.active{
                            display: block;
                        }
                    }

                    & .edit{
                        display: none;
                    }

                    & .view{
                        display: none;
                        text-align: center;
                    }

                    & .edit{
                        &:focus{
                            outline-color: red;
                        }
                    }
                }

            }
        }
    }
}
